@charset "utf-8";
body{margin:0;padding:0;font-family:"微软雅黑","Arial",HELVETICA;font-size:14px;}
.clear{	clear: both;}
*{margin: 0px;padding: 0px;}
input{ outline:none;}
li{ list-style-type:none;}
img{border: 0px;}
a{text-decoration: none;color: #333333;}
a:hover{color:#b01714; text-decoration:none;}
/*网页背景全屏*/
div#div1{position:fixed;top:0;left:0;bottom:0;right:0;z-index:-1;}
div#div1 > img {height:100%;width:100%;border:0;}
/*login*/
#login{ width:100%; height:100%; text-align:center;}
#login .login{margin:auto; float:none; width:588px; height:388px; background:url("../images/jloginbox03.png"); margin-top:12%;}
#login .login .top{ width:588px;float:left; height: 45px;text-align: left;font-size: 24px;font-weight: bold;color: #3f3f3f;line-height: 45px;}
#login .login .top img{ width: 45px;height:45px;float: left;}
#login .login .top span{float: right; margin-right: 140px;}

#login .login .con{ width:468px; padding-left:120px; float:left; margin-top: 30px; }
#login .login .con .tips{ width:468px; float:left; text-align: left; margin-top:10px;font-size: 14px;color: #505050;}
#login .login .con .tips b{font-size: 18px;font-family: "微软雅黑";}
#login .login .con li{float:left;margin-top: 10px;height: 48px;width: 394px;border-radius: 5px;background: #33393f;}
#login .login .con span{ float:left; color: #fff; display: block; width: 110px; line-height: 48px; height: 48px;}
#login .login .con .text{border: 1px solid #99bce8;font-size: 12px;line-height: 18px;color: #333;text-align: left;padding: 2px; width:242px; float:left; height:18px; background:#ffffff; margin-top: 12px;}
#login .login .con .code{border: 1px solid #99bce8;font-size: 12px;line-height: 18px;color: #333;text-align: left;padding: 2px; width:110px; float:left; height:18px; background:#ffffff; margin-top: 12px;margin-right:10px;}
#login .login .con img{ float:left; margin-top: 11px;}
#login .login .con a{ float:left; font-size:14px; color: #ffffff;}
#login .login .con .nobg{background: none; margin-top: 20px;}
#login .login .con .sub:hover{border:#b0ccf2 1px solid;
    background-color:#e4f3ff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e4f3ff),color-stop(48%,#d9edff),color-stop(52%,#c2d8f2),color-stop(100%,#c6dcf6));background-image:-webkit-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-moz-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-o-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-ms-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);
    background:url(../images/vj_btn4hover.png) repeat-x center center\9;
}
#login .login .con .sub:focus{border-color:#b0ccf2;background-image:none;background-color:#e4f3ff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e4f3ff),color-stop(48%,#d9edff),color-stop(52%,#c2d8f2),color-stop(100%,#c6dcf6));background-image:-webkit-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-moz-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-o-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:-ms-linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);background-image:linear-gradient(top,#e4f3ff,#d9edff 48%,#c2d8f2 52%,#c6dcf6);

    border:#006699 1px solid;}
#login .login .con .sub{
    color:#000033; width: 180px;
    height:26px;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));/* background-image:-webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7); */
    background-image:-moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background-image:-o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background-image:-ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background-image:linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background:url(../images/vj_btn4.png) repeat-x center center\9;
    border:1px solid #d1d1d1;
}


#login .login .con .Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;font-size:12px; width: 100%; text-align: left;}
#login .login .con font{ float:right; padding-right: 50px;}
#login .login .con .get{ width:180px; float:left; height:46px; background:#09F;color:#fff; font-size:14px;font-weight:bold; border:none; cursor:pointer;}
#login .login .reg{width:671px; float:left;height:300px;}
/*登录成功提示信息*/
#login .login .mess{ width:360px; padding-left: 240px; float:left; margin-top: 40px; background: url("../images/login-logo.png") 28px 47px no-repeat;}
.mes{font-size:12px;text-align:center;width:360px; float:left; height:300px;padding-top:60px; color: #fff;}
.mes h1{ color:#F00; line-height:60px;}
.mes a{ font-weight:bolder; float: none;}
#nuber{color:#FF0000; font-size:18px; font-weight:bolder; float: none; width:auto;}
/*注册界面*/
#reg{ width:100%; height:100%; text-align:center;}
#reg .reg{margin:auto; float:none; width:1000px; }
#reg .reg .top{width:1000px;float: left;height:118px; background: url("/images/reg-logo.png") no-repeat left top; border-bottom: 2px #ccc solid;}
#reg .reg .top a{width:330px;float: left;height:118px; display: block;}
#reg .reg .con{width:550px;float: left; margin-top: 30px;}
#reg .reg .con li{float:left; width:600px; height:56px; margin:10px 0px;}
#reg .reg .con .left{float:left;width:100px; height:36px; text-align:right; line-height:36px; font-size:16px; padding-right:10px;}
#reg .reg .con .input{ width:353px; border: 1px solid #999; float:left; height:36px; border-radius:5px; color:#000; font-size:14px; padding:5px; font-weight:bold;}
#reg .reg .con .code{ width:172px; float:left; height:36px;border: 1px solid #999; background:#fff;  border-radius:5px; color:#000; font-size:14px; padding:5px; font-weight:bold; margin-right:10px;}
#reg .reg .con img{ float:left;}
#reg .reg .con .sub{ width:363px; float:left; height:56px; background:#0093dd; border:none; border-radius:5px; color:#fff; font-size:14px;font-weight:bold;}
#reg .reg .con a{ float:left; font-size:16px;}
#reg .reg .con span{ float:left; display:block; width:265px; height:56px;}
#reg .reg .con .Validform_checktip{margin-left:8px;line-height:20px;height:20px;overflow:hidden;font-size:12px; padding-left: 100px; width: 100%; text-align: left;}
#reg .reg .con .get{ width:170px; float:left; height:56px; background:#09F;color:#fff; font-size:14px;font-weight:bold; border:none; cursor:pointer;}
#reg .reg .notice{width:450px;float: left; margin-top: 30px; text-align: left;
    line-height:30px;}
#reg .reg .notice b{color: #FF0000; font-size: 16px; }
/*条款信息*/

#notice{ float:none; width:100%; height:100000px;display:block; background:#000;background:rgba(0, 0, 0, 0.8)!important;filter:Alpha(opacity=80); padding-top:7%; position:fixed; top:0px; z-index:9999999999;}
#notice .con{float:none;line-height:25px; margin:auto; width:650px; height:420px; background:#fff; margin-top:1%;  padding:50px;}
#notice .con .content{float:left;line-height:25px; margin:auto; width:650px;}
#notice .con .content h1{text-align: center; color: #FF0000; margin-bottom: 10px;}
#notice .con .content p{ text-indent: 2em;}
#notice .con .sub{width:137px; height:42px; border:none; background:#e67817; text-align:center;color:#fff; border-radius:5px;cursor:pointer; margin-top:20px; margin-left:55px;}
/*按钮*/
#notice .con .button{float:left;width:590px; padding-left: 60px; margin-top: 20px;}
#notice .con .button .submit{float:left;width:250px;height: 40px; cursor: pointer; line-height: 40px; text-align: center; border: none; margin-right: 20px; border-radius: 5px; background: #18aaff; color: #ffffff;}
#notice .con .button .jujue{ background: #f0f0f0; color: #bbbbbb;}

/*验证控件*/

.Validform_right{color:#71b83d;}
.Validform_wrong{color:red;}
.Validform_loading{}
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
    background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left; color:#F00;}